<nav class="main-nav">
  <ul id="nav">
    <li class="search"><%= simple_partial :_search_form %></li>
    <a href="/genre"><li><h3> Genres </h3></li></a>
    <a href="/artist"><li><h3> Artists </h3></li></a>
    <a href="/song"><li><h3> Songs </h3></li></a>
  </ul>
</nav>