<form action="/search" method="POST">
  <input class="searchbar" id="POST-search" type="text" placeholder="Search" name="search"/>
  <button class="search" type="submit" value="submit"></button>
</form>