<div class="video_container">
  <% if @current_song.nil? %>
    <img src="/images/turntable.png" alt="turntable" width="640" class="main">
  <% else %>
    <iframe width="640" height="360" src="//www.youtube.com/embed/<%=@current_song.video_id%>" frameborder="0" allowfullscreen> </iframe> 
  <% end %>


</div>

<!--   <iframe width="640" height="360" src="//www.youtube.com/embed/

  <%= if @current_song.nil?
    ""
    else
      @current_song.video_id
      end %>

  " frameborder="0" allowfullscreen>
  </iframe> -->