<div class="playlist white">
  <h4> Playlist </h4>
</div>

<div class="songlist white"> 
  <%= simple_partial :_page_title %>
  <ul class="list"> 
    <% @current_artist.songs.each do |song| %>
      <a href=<%="/artist/#{@artist_name}/#{song.name.gsub(' ','_')}"%>>
        <li> <%= song.name %> </li>
      </a>
    <% end %>
  </ul>
</div>

