<%= simple_partial :_page_title %>

<ul> 
  <% @current_artist.songs.each do |song| %>
    <a href="/artist/<%= @artist_name %>/<%= song.name.gsub(' ','_') %>">
      <li> 
        <%= "#{song.name}" %> 
      </li>
    </a>
  <% end %>
</ul>

