<div class="playlist white">
  <h4> Playlist </h4>
</div>

<div class="songlist white"> 

  <ul class="list"> 
    <% Song.all.each do |song| %>
      <a href="/song/_/<%= song.name.gsub(' ','_') %>">
        <li> <%= "#{song.name} - #{song.artist.name}" %> </li>
        <li><%= song.video_id %></li>
      </a>
    <% end %>
  </ul>

</div>