<%= simple_partial :_page_title %>

<ul> 
  <% Song.all.each do |song| %>
    <a href="/song/#/<%= song.name.gsub(' ','_') %>">
      <li> <%= "#{song.name} - #{song.artist.name}" %> </li>
    </a>
  <% end %>
</ul>
